<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="error403.css">
    <title>Title</title>
</head>
<body>
<div class="scene">
    <div class="overlay"></div>
    <div class="overlay"></div>
    <div class="overlay"></div>
    <div class="overlay"></div>
    <span class="bg-403">404</span>
    <div class="text">
        <span class="hero-text"></span>
        <span class="msg">Oops <span>parece</span> que el sitio que buscas no existe.</span>
        <span class="support">
      <a href="/index">Regresar</a>
    </span>
    </div>
</div>
</body>
</html>