<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/guardarCentroEscolar}" th:object="${CentroEscolar}" method="post">
    <br>

    <br>
    <label for="nombre">Nombre </label>
    <input th:field="*{nombre}" id="nombre" type="text" placeholder="Ingresa el nombre" name="nombre" />
    <span th:errors="*{nombre}" style="color: #E81505"></span>
    <br>
    <br>
    <label for="descripcion">descripcion </label>
    <input th:field="*{descripcion}" id="apellido" type="text" placeholder="Ingresa la descripcion" name="descripcion" />
    <span th:errors="*{descripcion}" style="color: #E81505"></span>
    <br>
    <br>
    <label for="estado">estado </label>
    <input th:field="*{estado}" id="carne" type="text" placeholder="Ingresa el estado" name="estado" />
    <span th:errors="*{estado}" style="color: #E81505"></span>

    <br><br>
    <input type="submit" value="Guardar" />

</form>
</body>
</html>