<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Centros escolares</title>
</head>
<body>

<table>
    <thead>
    <th>No.</th>
    <th>Nombre</th>
    <th>Descripcion</th>
    <th>Direccion</th>
    <th>Estado</th>
    <th>Municipio</th>
    </thead>
    <th:block th:each="ce, row: ${ces}">
        <tr>
            <th th:text="${ce.codigoCentroEscolar}"/>
            <th th:text="${ce.nombre}"/>
            <th th:text="${ce.descripcion}"/>
            <th th:text="${ce.direccion}"/>
            <th th:text="${ce.estado}"/>
            <th th:text="${ce.municipio.nombre}"/>
        </tr>
    </th:block>

</table>

</body>
</html>