<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<title>Editar materia</title>
</head>

<body>
<div class="container">


	<form method="post" th:action="@{/updateMateria}" th:object="${materia}" class="well form-horizontal">
		<fieldset>

			<legend>
				<center>
					<h1>Editar Materia</h1>
				</center>
			</legend><br>

			<input th:field="*{codigoMateria}" id="codigoMateria" type="number" name="codigoMateria" hidden=true />

			<div class="form-group">
				<label for="nombre" class="col-md-4 control-label">Nombre de materia </label>
				<div class="col-md-4 inputGroupContainer">
					<div class="input-group">
						<input th:field="*{nombre}" id="nombre" type="text" placeholder="Ingresa el nombre"
							   name="nombre" class="form-control" />
						<span th:errors="*{nombre}" style="color: #E81505"></span>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="descripcion" class="col-md-4 control-label">Descripcion </label>
				<div class="col-md-4 inputGroupContainer">
					<div class="input-group">
						<input th:field="*{descripcion}" id="descripcion" type="text"
							   placeholder="Ingresa la descripcion" name="descripcion" class="form-control" />
						<span th:errors="*{descripcion}" style="color: #E81505"></span>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label>Activo </label>
				<input th:field="*{estado}" type="radio" th:value="${true}" />
				<label>Inactivo </label>
				<input th:field="*{estado}" type="radio" th:value="${false}" />
			</div>

			<div class="form-group">
				<input type="submit" value="Actualizar materia" class="btn btn-warning">
			</div>
		</fieldset>
	</form>
</div>
</body>

</html>