<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
			  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<title>Editar Centro Escolar</title>
</head>

<body>
<div class="container">

	<form class="well form-horizontal" method="post" th:action="@{/updateCentroescolar}"
		  th:object="${centroescolar}">
		<fieldset>
			<legend>
				<center>
					<h1>Editar Centro Escolar</h1>
					<h3 style="color: #E81505" th:text=${respuesta} />
				</center>
			</legend><br>


			<div class="form-group">
				<input th:field="*{codigoCentroEscolar}" id="codigoCentroEscolar" type="number"
					   name="codigoCentroEscolar" hidden=true />
				<label for="nombre" class="col-md-4 control-label">Nombre del CE </label>
				<div class="col-md-4 inputGroupContainer">
					<div class="input-group">
						<input th:field="*{nombre}" id="nombre" type="text" placeholder="Ingresa el nombre"
							   name="nombre" class="form-control" />
						<span th:errors="*{nombre}" style="color: #E81505"></span>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="descripcion" class="col-md-4 control-label">Descripcion </label>
				<div class="col-md-4 inputGroupContainer">
					<div class="input-group">
						<input th:field="*{descripcion}" id="descripcion" type="text"
							   placeholder="Ingresa la descripcion" name="descripcion" class="form-control" />
						<span th:errors="*{descripcion}" style="color: #E81505"></span>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label for="direccion" class="col-md-4 control-label">Direccion </label>
				<div class="col-md-4 inputGroupContainer">
					<div class="input-group">
						<input th:field="*{direccion}" id="direccion" type="text" placeholder="Ingresa la direccion"
							   name="direccion" class="form-control" />
						<span th:errors="*{direccion}" style="color: #E81505"></span>
					</div>
				</div>
			</div>

			<div class="form-group">
				<label>Activo </label>
				<input th:field="*{estado}" type="radio" th:value="${true}" />
			</div>
			<div class="form-group">
				<label>Inactivo </label>
				<input th:field="*{estado}" type="radio" th:value="${false}" />
			</div>
			<th>
				<label>Municipio</label>
				<select th:field="*{municipio.codigoMunicipio}">
					<option th:each="muni: ${municipios}" th:value="${muni.codigoMunicipio}"
							th:text="${muni.nombre}">
					</option>
				</select>
			</th>
			<div class="form-group">
				<input type="submit" value="Actualizar registro" class="btn btn-warning">
			</div>
		</fieldset>
	</form>
</div>
</body>

</html>