<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Edit Materias Cursadas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>

<!--
<form th:action="@{/materiacursada/} + ${{materia.estudiante.codigoEstudiante}}" method="get">
<input type="submit" class="btn btn-secondary btn-sm"  value="Regresar">
</form>
-->
<div class="container">
    <form th:action="@{/updateMateriaCursada/} + ${{estudiante.codigoEstudiante}}" th:object="${materia}"
          method="post" class="well form-horizontal">
        <fieldset>
            <legend>
                <center>
                    <h2>Estudiante</h2>
                </center>
            </legend><br>

            <div class="form-group">
                <h3 th:text=${materia.estudiante.nombreEstudiante}></h3>
                <input th:field="*{codigoMateriaCursada}" id="codigoMateriaCursada" type="number"
                       name="codigoMateriaCursada" hidden=true />

                <h3 th:text=${respuesta} style="color: #E81505"></h3>
            </div>
            <div class="form-group">
                <th>
                    <label>Materia</label>
                    <select th:field="*{materia.codigoMateria}">
                        <option th:each="mate: ${materias}" th:value="${mate.codigoMateria}"
                                th:text="${mate.nombre}">
                        </option>
                    </select>
                </th>
            </div>


            <div class="form-group">
                <label for="annioMateriaCursada" class="col-md-4 control-label">Annio </label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <input th:field="*{annioMateriaCursada}" id="annioMateriaCursada" type="number"
                               placeholder="Ingresa el Annio" name="annioMateriaCursada" class="form-control" />
                        <span th:errors="*{annioMateriaCursada}" style="color: #E81505"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="cicloMateriaCursada" class="col-md-4 control-label">Ciclo </label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <input th:field="*{cicloMateriaCursada}" id="cicloMateriaCursada" type="number"
                               placeholder="Ingresa el ciclo" name="cicloMateriaCursada" class="form-control" />
                        <span th:errors="*{cicloMateriaCursada}" style="color: #E81505"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="notaMateriaCursada" class="col-md-4 control-label">Nota </label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <input th:field="*{notaMateriaCursada}" id="notaMateriaCursada" type="number" step="0.01"
                               placeholder="Ingresa la nota" name="notaMateriaCursada" class="form-control" />
                        <span th:errors="*{notaMateriaCursada}" style="color: #E81505"></span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Actualizar registro" class="btn btn-warning" />
            </div>
        </fieldset>
    </form>
</div>
</body>

</html>