<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Editar materia</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
	<h1>Editar Materia</h1><br>
    	<form method="post" th:action="@{/updateMateria}" th:object="${materia}">  
    		<input th:field = "*{codigoMateria}" id="codigoMateria" type="number" name="codigoMateria" hidden = true/>
	    	<label for="nombre">Nombre de materia  </label><br>
		    <input th:field = "*{nombre}" id="nombre" type="text" placeholder="Ingresa el nombre" name="nombre" />
		    <span th:errors= "*{nombre}" style="color: #E81505"></span>
			<br>
			<br>
	        <label for="descripcion">Descripcion    </label><br>
		    <input th:field="*{descripcion}" id="descripcion" type="text" placeholder="Ingresa la descripcion"  name="descripcion" />
		    <span th:errors="*{descripcion}" style="color: #E81505"></span>
			<br>
			<br>
	        <div class="form-line">
				<div class="form-check">
					<label >Activo   </label>
					<input th:field="*{estado}" type="radio" th:value = "${true}"/>
				</div>
				<div class="form-check">
					<label>Inactivo</label>
					<input th:field="*{estado}" type="radio" th:value = "${false}"/>
				</div>
			</div>
		        <br>
	        <input class="btn btn-primary" type="submit" value="Actualizar alumno">
	    </form>
</body>
</html>