<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Inicio</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<input type="button" class="btn btn-outline-danger" onClick = "location.href='/logout';" value="Log Out">
<div class="p-3 mb-2 bg-light text-dark">
	<div class ="modal-body">
	<br>

		<div class="container" align="center"><h2>Vista de Catalogos</h2></div>
	<br>
	<input sec:authorize="hasAuthority('ROLE_ADMINISTRADOR')" type="button" class="btn btn-primary btn-lg btn-block" onClick = "location.href='/listadoMateria';" value="Ver Materias">
	<br><br>
	<input sec:authorize="hasAuthority('ROLE_ADMINISTRADOR')" type="button" class="btn btn-primary btn-lg btn-block" onClick = "location.href='/listadoCentroEscolar';" value="Ver Centros Escolares">
	<br><br>
	<input sec:authorize="hasAuthority('ROLE_ADMINISTRADOR')" type="button" class="btn btn-primary btn-lg btn-block" onClick = "location.href='/listadoUser';" value="Ver Usuarios de Sistema">
	<br><br>
	<input sec:authorize="hasAuthority('ROLE_COORDINADOR')" type="button" class="btn btn-primary btn-lg btn-block" onClick = "location.href='/listadoExpedientes';" value="Ver Lista de Alumnos">
		<br><br>
	</div>
</div>
</body>
</html>