<html xmlns:th="http://www.thymeleaf.org">
<head >
    <title>Log in</title>
</head>
<body>
                <h1 th:text="${errorMsg}" ></h1>
                <form name="f" th:action="@{/signin}" method="post">
                    <fieldset>


                            <label for="txtUsername">Username</label>
                            <input type="text" id="txtUsername" name="txtUsername"
                                   placeholder="Username">

                            <label for="txtPassword">Password</label>
                            <input type="password" id="txtPassword" name="txtPassword"
                                   placeholder="Password">

                            <button type="submit">Log in</button>
                    </fieldset>
                </form>
<a href="/register"><button>Registrarse</button></a>
</body>
</html>