<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>

<div class="container">
    <fieldset>
        <form th:action="@{/guardarMateria}" th:object="${materia}" method="post" class="well form-horizontal">
            <br>
            <legend>
                <center>
                    <h2><b>Ingresa nueva materia</b></h2>
                </center>
            </legend><br>
            <br>
            <div class="form-group">
                <label for="nombre" class="col-md-4 control-label">Nombre </label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <input th:field="*{nombre}" id="nombre" type="text" placeholder="Ingresa el nombre"
                               name="nombre" class="form-control" />
                        <span th:errors="*{nombre}" style="color: #E81505"></span>
                        <br>
                    </div>
                </div>
            </div>
            <br>

            <div class="form-group">
                <label for="descripcion" class="col-md-4 control-label">Descripcion </label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <input th:field="*{descripcion}" id="apellido" type="text"
                               placeholder="Ingresa la descripcion" name="descripcion" class="form-control" />
                        <span th:errors="*{descripcion}" style="color: #E81505"></span>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="form-group">
                <label for="estado" class="col-md-4 control-label">Estado </label>
                <div class="col-md-4 inputGroupContainer">
                    <div class="input-group">
                        <input type="checkbox" th:field="*{estado}" th:value="${true}" class="form-control">
                    </div>
                </div>
            </div>

            <br><br>
            <div class="form-group">
                <input type="submit" value="Guardar" onClick="location.href='/listado'" class="btn btn-warning" />
            </div>
    </fieldset>
    </form>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>

</html>