<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/guardarMateria}" th:object="${materia}" method="post">
    <br>

    <br>
    <label for="nombre">Nombre </label>
    <input th:field="*{nombre}" id="nombre" type="text" placeholder="Ingresa el nombre" name="nombre" />
    <span th:errors="*{nombre}" style="color: #E81505"></span>
    <br>
    <br>
    <label for="descripcion">descripcion </label>
    <input th:field="*{descripcion}" id="apellido" type="text" placeholder="Ingresa la descripcion" name="descripcion" />
    <span th:errors="*{descripcion}" style="color: #E81505"></span>
    <br>
    <br>
    <label for="estado">estado </label>

    <input type="checkbox" th:field ="*{estado}" th:value="${false}">
    <label    >Estado   </label>

    <br><br>
    <input type="submit" value="Guardar"  onClick="location.href='/listado'" />

</form>
</body>
</html>