<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Materias</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<body>
<div class="container" align="center"><h2>Materias</h2></div>
<input type="button" class="btn btn-outline-danger" onClick = "location.href='/logout';" value="Log Out">
<input type="button" class="btn btn-secondary btn-sm" onClick = "location.href='/index';" value="Regresar">
<input type="button" class="btn btn-primary btn-sm" onClick = "location.href='/ingresoMateria';" value="Nueva Materia">
<br>
	<h3 th:text=${respuesta} style="color: #E81505"></h3>
<br>
<table class="table table-striped">
    <thead class="thead-dark">
    <th scope="col" class="text-center">Accion</th>
    <th scope="col" class="text-center">No.</th>
    <th scope="col" class="text-center">Nombre</th>
    <th scope="col" class="text-center">Descripcion</th>
    <th scope="col" class="text-center">Estado</th>
    </thead>
    <th:block th:each="materia, row: ${materias}">
        <tr>
           	<td>
            <form th:action="@{/editMateria/}+ ${{materia.codigoMateria}} " method="post"><!--  -->
                <button class="btn btn-outline-warning" type="submit">
                	<i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
            </form>
        	</td>
            <th  th:text="${materia.codigoMateria}"/>
            <th th:text="${materia.nombre}"/>
            <th th:text="${materia.descripcion}"/>
            <th th:text="${materia.estadoDelegate}"/>
        </tr>
    </th:block>

</table>

</body>
</html>