<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Materias Cursadas</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<body>
<h2>Estudiante: </h2><h3 th:text=${estudiante.nombreEstudiante}></h3>
<input type="button" class="btn btn-secondary btn-sm" onClick = "location.href='/listadoExpedientes';" value="Regresar">

<form th:action="@{/ingresoMateriaCursada/} + ${{estudiante.codigoEstudiante}}" method="post">
	<input type="submit" class="btn btn-primary btn-sm"  value="+ Agregar Nueva Materia">
</form>
<form th:action="@{/materiacursada/} + ${{estudiante.codigoEstudiante}}" method="get">
	<input type="submit" class="btn btn-outline-info"  value="Actualizar pagina">
</form>
<br>
	<p th:text=${respuesta} style="color: #E81505"></p>
<br>
<table class="table table-striped">
    <thead class="thead-dark">
    <th scope="col" class="text-center">Accion</th>
    <th scope="col" class="text-center">Materia </th>
    <th scope="col" class="text-center">Annio </th>
    <th scope="col" class="text-center">Ciclo</th>
    <th scope="col" class="text-center">Nota</th>
    <th scope="col" class="text-center">Resultado</th>
    </thead>
    <th:block th:each="materia, row: ${materiascursadas} " >
        <tr>
           	<td>
            <form th:action="@{/editMateriaCursada/}+ ${{materia.codigoMateriaCursada}} " method="post"><!--  -->
               	<button class="btn btn-outline-warning" type="submit">
                	<i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
            </form>
        	</td>
            <th  th:text="${materia.materia.nombre}"/>
            <th th:text="${materia.annioMateriaCursada}"/>
            <th th:text="${materia.cicloMateriaCursada}"/>
            <th th:text="${materia.notaMateriaCursada}" />
            <th th:text="${materia.notaDelegate}"/>




        </tr>
    </th:block>

</table>

</body>
</html>