<!DOCTYPE html>
<html lang="en"  xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Estudiantes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>

<body>
<div class="container" align="center">
<h2>Expedientes</h2>
</div>
<input type="button" class="btn btn-outline-danger" onClick = "location.href='/logout';" value="Log Out">
<input type="button" class="btn btn-secondary btn-sm" onClick = "location.href='/index';" value="Regresar">
<form th:action="@{/agregarExpediente}" method="get">
	<input type="submit" class="btn btn-primary btn-sm"  value="+ Agregar Nuevo Expediente">
</form>
<br>
	<h3 th:text=${respuesta} style="color: #E81505"></h3>
<br>
<form  method="post" th:object="${estudiantes}" th:action="@{filtrarExpediente}">
    <label for="criterio">Buscar Alumno Por:</label>
    <select name="tipo" id="criterio">
        <option value="1">Nombre</option>
        <option value="2">Apellido</option>
    </select>
    <br>
    <label >Valor de Busqueda:</label>
    <input type="text" name="cadena" >
    <input type="submit" class="btn btn-primary btn-sm" value="Buscar" >
</form>
<br><br>

<table class="table table-striped">
    <thead class="thead-dark">
        <th scope="col" class="text-center">Accion</th>
        <th scope="col" class="text-center">Nombre</th>
        <th scope="col" class="text-center">Apellido</th>
        <th scope="col" class="text-center">Materias Aprobadas</th>
        <th scope="col" class="text-center">Materias Reprobadas</th>
        <th scope="col" class="text-center">Promedio</th>
    </thead>

    <th:block th:each="estudiantes, row :${estu}"><!--th:each="user"-->
        <tr>
            <td>
             	<form th:action="@{/editarExpediente/}+ ${{estudiantes.codigoEstudiante}} " method="get">
                  <button class="btn btn-outline-warning" type="submit">
                	<i class="fa fa-search" aria-hidden="true"></i>
                </button>
                </form>
           	</td>
           	<td>
           	<form th:action="@{/materiacursada/}+ ${{estudiantes.codigoEstudiante}} " method="get">
                <button class="btn btn-outline-warning" type="submit">
                	<i class="fa fa-pencil" aria-hidden="true"></i>
                </button>
                </form> 
           	</td> 
           	
            <th th:text="${estudiantes.nombreEstudiante}"/>
            <th th:text="${estudiantes.apellidoEstudiante}"/>
            <th th:text="${estudiantes.aprobadasDelegate}"/>
            <th th:text="${estudiantes.reprobadasDelegate}"/>
           	<th th:text="${estudiantes.promedio}"/>
        </tr>
    </th:block>


</table>

</body>
</html>