<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usuarios</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
<div class="container" align="center"><h2>Usuarios del Sistema</h2></div>
<input type="button" class="btn btn-secondary btn-sm" onClick = "location.href='/index';" value="Regresar">
<input type="button" class="btn btn-primary btn-sm" onClick = "location.href='/ingresoUser';" value="Ingresar Usuario de Sistema">
	<br>
	<h3 th:text=${respuesta}></h3>
	<br>
<table class="table table-striped">
    <thead class="thead-dark">
    <th scope="col" class="text-center">Accion</th>
    <th scope="col" class="text-center">No.</th>
    <th scope="col" class="text-center">Descripcion</th>
    <th scope="col" class="text-center">Estado</th>
    <th scope="col" class="text-center">Username</th>
    </thead>
    <th:block th:each="user, row: ${users}">
        <tr>
            <td>
            <form th:action="@{/editUser/}+ ${{user.codigoUser}} " method="post"><!--  -->
                <a input class="btn btn-outline-warning" href="#" type="submit" value="Editar">
                    <i class="fa fa-pencil" aria-hidden="true"></i></a><!-- th:id="'table_entry_childs_button_' + ${entry.id}"  -->
            </form>
        	</td>
            <th scope="row" th:text="${user.codigoUser}"/>
            <th scope="row" th:text="${user.descripcion}"/>
            <th scope="row" th:text="${user.estado}"/>
            <th scope="row" th:text="${user.username}"/>
        </tr>
    </th:block>

</table>

</body>
</html>