<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usuarios</title>
</head>
<body>

<table>
    <thead>
    <th>No.</th>
    <th>Nombre</th>
    <th>Apellido</th>
    <th>Descripcion</th>
    <th>Fecha de nacimiento</th>
    <!-- <th>Edad</th> -->
    <th>Direccion</th>
    <th>Estado</th>
    <th>Es admin?</th>
    <th>Username</th>
    <th>Password</th>
    <th>Municipio</th>
    </thead>
    <th:block th:each="user, row: ${usuarios}">
        <tr>
            <th th:text="${user.codigoUser}"/>
            <th th:text="${user.nombre}"/>
            <th th:text="${user.apellido}"/>
            <th th:text="${user.descripcion}"/>
            <th th:text="${#dates.format(user.fechaNacimiento, 'dd/MMM/yyyy')}"/>
            
            <th th:text="${user.direccion}"/>
            <th th:text="${user.estado}"/>
            <th th:text="${user.esAdmin}"/>
            <th th:text="${user.username}"/>
            <th th:text="${user.password}"/>
            <th th:text="${user.municipio.nombre}"/>
        </tr>
    </th:block>

</table>

</body>
</html>